@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root{
    --main-color:#00756C;
    --black : #000
}

*{
    font-family: 'Ubuntu', sans-serif;
}
.top-header {
    padding: 27px 0 0;
}
.stickyCss{
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px 2px #ccc;
    background: #fff;
    top: 0;
    z-index: 100;
}
.fixed-top{
    background: white;
}
.header-buttons button {
    font-size: 18px;
    background: #00756C;
    border: 1px solid #00756C;
    border-radius: 0;
    padding: 10px 25px;
    font-weight: 500;
    margin-right: 5px;
}
.header-buttons button:hover{
    background: #00756C;
    border: 1px solid #00756C;
}
.header-buttons button:focus{
    box-shadow: none;
}
.brand-logo img {
    width: 140px;
}
.logo{
    width: 40%;
}
.navBarline{
    height: .1vh;
    background-color: #000;
}
.listyle{
    list-style:circle;
}
ul li a{
    color: var(--black);
    font-size: 1.3rem;
}
ul li a:hover{
    color: var(--main-color);
}

.navUl{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.brand-logo {
    text-align: center;
    margin-top: 7px;
}
.border-bottom{
    border-bottom: 1px solid #000 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #484848;
    font-size: 18px;
    font-weight: 500;
    margin-right: 45px;
}
.navbar-nav .seperator {
    font-size: 10px;
    width: 70px;
    text-align: center;
}
.navbar-nav .seperator i {
    position: relative;
    top: 15px;
    font-size: 7px;
    color: #000;
}
.main-banner{
    background: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
}
.main-banner h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    color: #fff;
    font-size: 55px;
}
.time-text{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    
}

.main-banner p{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    margin-top: 20px;
    font-size: 30px;
}
.banner-button{
    margin-top: 50px;
    margin-bottom: 20px;
}
.banner-button .btn {
    border-radius: 0;
    padding: 13px 30px;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}
.banner-button .btn-success{
    background: #00756C;
    border: 1px solid #00756C;
}
.banner-button .btn-success:hover{
    background: #00756C;
    border: 1px solid #00756C;
}
.banner-button .btn-success:focus{
    box-shadow: none;
}
.banner-button .btn-light{
    border: 2px solid #00756C;
    color: #000;
}
.banner-button .btn-light:hover{
    background: lightgray ;
    border: 2px solid #00756C;
    color: #fff;
}
.banner-button .btn-light:focus{
    box-shadow: none;
}
.banner-bottom-btn{
    text-align: center;
    margin: 0;
    position: relative;
    top: -30px;
}
section.book-a-table h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #484848;
}
.location-part {
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}
.location-part .input-group-text {
    background: #00756c;
    border: 2px solid #00756c;
    color: #fff;
    height: 50px;
    padding: 5px 18px;
    border-radius: 0;
    font-weight: 500;
}
.location-part select{
    height: 50px;
    border: 2px solid #00756c;
    border-radius: 0;
}
.location-part input {
    border: 2px solid #00756c;
    border-radius: 0;
}
.location-part input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    font-weight: 100;
    opacity: 1; /* Firefox */
}

.location-part input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
    font-weight: 100;
}

.location-part input::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
    font-weight: 100;
}
.location-part input:focus{
    box-shadow: none;
}
.search-btn button {
    height: 50px;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: 500;
    background: #00756c;
    border: 1px solid #00756c;
    border-radius: 0;
}
.search-btn button:hover, .search-btn button:focus {
    background: #00756c;
    border: 1px solid #00756c;
    box-shadow: none;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.border-right{
    border-right: 1px solid #000 !important;
}
section.left-right-sec {
    text-align: center;
    padding: 10px 0;
}
section.left-right-sec h2 {
    font-size: 24px;
    font-weight: 420;
    margin-bottom: 15px;
}
section.left-right-sec p {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 18px;
    padding: 0 58px;
    font-weight: 100;
    height: 80px;
}
section.left-right-sec img {
    width: 100%;
    height: 300px;
}
section.left-right-sec button {
    background: #00756c;
    border: 1px solid #00756c;
    border-radius: 0;
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 500;
}
.line-seperator {
    background: #000;
    width: 150px;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.signUp-img img {
    width: 100%;
    height: 250px;
}
section.home-signUp-sec {
    background: #9DD2C2;
    padding: 40px;
    text-align: center;
    margin: 70px 0  ;
    /* position: relative; */
}
.signUp-img img {
    width: 100%;
    height: 300px;
    /* position: absolute; */
    top: -65px;
    left: 0;
}
.signUp-text h2 {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 400;
    color: #484848;
}
.signUp-text p {
    font-size: 15px;
    margin-bottom: 25px;
    color: #484848;
}
.signUp-text button{
     background: #00756C;
     border: 1px solid #00756C;
     border-radius: 0;
     font-size: 17px;
     padding: 10px 25px;
     font-weight: 500;
}
    /* about Setion */
.box1{
    border-right: 1px solid black;
}
.aboutUsImg{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/about-us.jpg");
    background-size: 100% 100%;
    height: 28rem;
}
.line{
    height: 1vh;
    width: 20%;
    background-color: var(--main-color);
}
.iconSize{
    font-size: 2rem;
}
.whyUs:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: white !important;
}
.heading span{
    color: var(--main-color);
}
.contactBtn{
    background-color: var(--main-color);
    color: white;
}
.contactRow{
    margin-top: 5vh;
    margin-bottom: 2vh;
}
.map{
    flex:1 1 45rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contactColumn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px var(--main-color);
}
.contactIcons{
    font-size: 3rem;
    color: var(--main-color);
}

footer {
    background: #000;
    margin-top: 20px;
    padding: 40px 0 100px;
}
footer img {
    width: 100%;
}
.brand-logo-footer img{
    width: 140px;
    margin-bottom: 50px;
}
.brand-logo-footer {
    text-align: center;
    margin-bottom: 25px;
}
footer h4 {
    font-size: 17px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 600;
}
footer a {
    color: #fff;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    text-decoration: underline;
}
footer i {
    color: #fff;
    font-size: 30px;
    margin-top: 90px;
    margin-right: 8px;
}
@media (max-width: 990px) {
    .box1{
        border-right: 0px solid black;
    }
    .hide-small{
        display: none;
    }
    .logo{
        width: auto;
        margin-left: 20px;
    }
    .header-buttons button {
        font-size: 14px;
        background: #00756C;
        border: 1px solid #00756C;
        border-radius: 0;
        padding: 7px 15px;
        font-weight: 500;
        margin-right: 5px;
    }
    .contactAddress{
        width: 40%;
    }
    
    .toggleBtn{
        position: absolute;
        left: 88%;
        top: -7.5vh;
    }
    .bars{
        font-size: 1.5rem;
    }
    .navBarline{
        display: none;
        height: .1vh;
        background-color: #000;
    }
    .listyle{
        list-style:none;
    }
    ul li a{
        color: var(--black);
        font-size: 1.3rem;
    }
    .bookTable{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navUl{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .main-banner{
        background-size: 100% 100%;
        font-size: 30px;
        /* padding: 20px; */
    }
    .main-banner h1{
        font-family: 'Dancing Script', cursive;
        font-weight: 900;
        color: #fff;
        font-size: 30px;
    }
    .time-text{
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
        
    }
}   

.open-text{
    font-family: 'Dancing Script', cursive;
        font-size: 40px;
        margin-bottom: 30px;
        color: rgb(7, 7, 7);
}
